<div class="banner" alt="Some good and colorful cocktails" style="background-image: linear-gradient(-225deg, rgba(90,208,250,0.6) 0%, rgba(71,125,207,0.6) 50%), url('<%= image_path("bg-banner-home.jpg") %>');">
  <div class="banner-content">
    <h1>Make funny cocktails</h1>
    <p>Find the best ideas to serve</p>
    <%= link_to cocktails_path, class: "banner-button btn-lg" do %>
      Start <strong>shaking</strong>
    <% end %>
  </div>
</div>


